.footer-button {
  @extend .d-flex;
  @extend .align-items-center;

  //display: block;
  height: $spacer * 2;

  > .logo {
    display: inline-block;
    height: 100%;

    > svg { // stylelint-disable-line rscss/class-format
      fill: $link-color;
      height: 100%;
    }
  }

  > .label {
    display: inline-block;
    font-weight: $font-weight-bold;
    margin-left: $spacer / 2;
    line-height: 1;
    margin-top: rem(-2px); // compensate for lower case
  }

  @include hover {
    > .logo {
      > svg { // stylelint-disable-line rscss/class-format
        fill: $link-hover-color;
      }
    }
  }

  &.-small-logo {
    height: $spacer;
  }
}
