.footer-button {
  @extend .d-flex;
  @extend .align-items-center;

  //display: block;
  height: $spacer * 2;

  > .logo {
    display: inline-block;
    height: spacer(32px);

    > svg { // stylelint-disable-line rscss/class-format
      fill: $link-color;
    }
  }

  > .label {
    display: inline-block;
    font-weight: $font-weight-bold;
    margin-left: $spacer / 2;
  }

  @include hover {
    > .logo {
      > svg { // stylelint-disable-line rscss/class-format
        fill: $link-hover-color;
      }
    }
  }

  &.-small-logo {
    > .logo {
      height: spacer(16px);
    }
  }
}
