.home-header {
  > .container {
    > .row {
      > .logo {
        @include make-col-ready;
        @include make-col(6);
        @include make-col-offset(3);
        margin-bottom: $spacer * 2;

        > svg { // stylelint-disable-line rscss/class-format
          fill: theme-color('primary');
        }
      }

      > .text,
      > .donate {
        @include make-col-ready;
        @include make-col(12);
        text-align: center;
      }
    }
  }

  @include media-breakpoint-up(md) {
    > .container {
      > .row {
        > .logo {
          @include make-col(2);
          @include make-col-offset(0);
          margin-bottom: 0;
        }

        > .text {
          @include make-col(8);
          text-align: left;
          margin-top: auto;
          margin-bottom: auto;
        }

        > .donate {
          @include make-col(2);
          text-align: right;
        }
      }
    }
  }
}
