.site-footer {
  padding: ($spacer * 2) 0;

  > .container {
    > .row {
      > .home,
      > .twitter,
      > .creeper {
        @include make-col-ready;

        // vertical align
        margin-top: auto;
        margin-bottom: auto;
      }

      > .home {
        @extend .d-flex;
        @extend .justify-content-center;
        @extend .justify-content-sm-start;

        @include make-col(12);

        margin-bottom: ($spacer * 2);
      }

      > .twitter {
        @extend .d-sm-flex;
        @extend .justify-content-sm-center;

        @include make-col(6);
      }

      > .creeper {
        @extend .d-flex;
        @extend .justify-content-end;

        @include make-col(6);

        // remove top ghost padding
        line-height: 0;

        > a { // stylelint-disable-line rscss/class-format
          // remove top ghost padding
          display: inline-block;

          > img {
            height: rem(15px);
          }

          @include hover {
            filter: brightness(85%);
          }
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    > .container {
      > .row {
        > .home {
          // reset vertical align
          margin-bottom: auto;
        }

        > .home,
        > .twitter,
        > .creeper {
          @include make-col(4);
        }
      }
    }
  }
}
