!.docker/nginx.conf
.docker
.DS_Store
.env
.idea
.vagrant
/.phpunit.result.cache
/storage
backstop_data
deployer.log
Homestead.json
Homestead.yaml
hosts.yml
node_modules
npm-debug.log
Vagrantfile
vendor
