$divider-color: $input-border-color;

// Bootstrap overrides

$theme-colors: (
  'primary': #3b6ea5
);

// reset
$link-color: theme-color('primary');
$link-hover-color: darken(theme-color('primary'), 15%);

$grid-breakpoints: (
  xs: rem(0),
  sm: rem(576px),
  md: rem(768px),
  lg: rem(992px),
  xl: rem(1200px)
);

$container-max-widths: (
  sm: rem(540px),
  md: rem(720px),
  lg: rem(960px),
  xl: rem(1140px)
);

$grid-gutter-width: rem(30px);

// /Bootstrap overrides
